<!doctype html>
<html lang="en" ng-app="maintenanceapp">
	<head>
		<title>Venice Canal Maintenance</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		
		<!-- Firebase -->
		<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
		
		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		
		<!-- Leaflet -->
		<script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
		
		<!-- bootstrap -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
		<script type='text/javascript' src='js/bootstrap.min.js'></script>
		
		<!-- angularjs -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
		
		<!-- angular slider -->
		<link rel="stylesheet" type="text/css" href="css/angular-slider.min.css"/>
		<script type='text/javascript' src='js/angular-slider.min.js'></script>
		
		<!-- spinner -->
		<script type='text/javascript' src='js/spin.min.js'></script>
		<script type='text/javascript' src='js/jquery.spin.js'></script>
		
		<!-- local css -->
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		
		
		<style type="text/css">
			/* fix for slider conflict with bootstrap */
			slider span{
				-webkit-box-sizing: content-box !important;
				-moz-box-sizing: content-box !important;
				box-sizing: content-box !important;
			}
			
			.info {
				padding: 6px 8px;
				font: 14px/16px Arial, Helvetica, sans-serif;
				background: white;
				background: rgba(255,255,255,0.9);
				box-shadow: 0 0 15px rgba(0,0,0,0.2);
				border-radius: 5px;
				width: 500px;
			}
			.info h4 {
				margin: 0 0 5px;
				color: #777;
			}
		</style>
		
		<script type='text/javascript'>
			var map;
			var baseLayer;
			
			$( document ).ready(function() {
				map = L.map("map-canvas", {minZoom: 12}).setView([45.4375 , 12.334], 15);
				baseLayer = new L.TileLayer(
					'http://{s}.tiles.mapbox.com/v3/bennlich.map-8ds9rdrc/{z}/{x}/{y}.png',
					{ attribution: 'Map tiles © MapBox' }
					).addTo(map);
				L.control.scale().addTo(map);
			});
			
			app = angular.module('maintenanceapp', ['uiSlider']);
			app.controller('MapCtrl', ['$scope', '$compile', '$http', '$q', '$timeout', function($scope, $compile, $http, $q, $timeout){
				$scope.timeIndex = 0;
				
				$scope.hoverFields = [
					{label: "Segment IDs", key: "Segment IDs"},
					{label: "End Date", key: "End Date"},
					{label: "Dry Dredged (m^3)", key: "Dry Dredged (m^3)"},
					{label: "Wet Dredged (m^3)", key: "Wet Dredged (m^3)"},
					{label: "Mud Volume (m^3)", key: "Mud Volume (m^3)"},
				];
				
				function createJobInfoBox(){
					var info = L.control();
					info.onAdd = function (map) {
						var htmlContent = '<div class="info"><h4>Canal Maintenance Information</h4>'+
							'<div ng-show="recentMaintenance[hoverSegment]"><span ng-repeat="fieldRow in hoverFields" style="display:block" ng-show="recentMaintenance[hoverSegment][fieldRow.key]"><span style="font-weight:bold;">{{fieldRow.label}}:</span> {{recentMaintenance[hoverSegment][fieldRow.key]}}</span></div>'+
							'<div ng-show="hoverSegment && !recentMaintenance[hoverSegment]">There is no recent maintenance information for {{hoverSegment}} as of {{dateString}}</div>'+
							'<div ng-hide="hoverSegment">Hover over a canal segment to see the most recent maintenance information'+
							'<div><span style="width:40px;height:20px;display:inline-block;vertical-align:middle;background:#ff0000"/><span style="vertical-align:middle;margin-left:2px;">No past maintenance</span></div>'+
							'<div><span style="width:40px;height:20px;display:inline-block;vertical-align:middle;background:yellow;"/><span style="vertical-align:middle;margin-left:2px;">Just underwent maintenance</span></div>'+
							'<div><span style="width:40px;height:20px;display:inline-block;vertical-align:middle;background:#00ff00"/><span style="vertical-align:middle;margin-left:2px;">Had past maintenance</span></div>'+
							'</div>'+
							'</div>';
						$scope.compiled = $compile(htmlContent)($scope);
						this._content = $scope.compiled[0];
						return this._content;
					};
					return info;
				}
				
				function createTimeSelectorBox(){
					var info = L.control({position: "bottomright"});
					info.onAdd = function (map) {
						var htmlContent = '<div class="info">'+
							'<p><h4>Date</h4></p>'+
							'<p><h5 style="margin:0px;">'+
							'{{dateString}}'+
							'</h5>'+
							'<slider floor="0" ceiling="{{numDates}}" step="1" precision="0" ng-model="timeIndex"></slider></p>'+
							'</div>';
						$scope.compiled = $compile(htmlContent)($scope);
						this._content = $scope.compiled[0];
						return this._content;
					};
					return info;
				}
				
				/* Displays question mark and vpc logo */
				function createBrandBox(){
					var info = L.control({position: "bottomleft"});
					info.onAdd = function (map) {
						var htmlContent = '<div class="info" style="width:auto;">'+
							'<span ng-click="showAbout()"><img src="about.png" style="cursor:pointer;padding-right:7px;"></span>'+
							'<a href="http://veniceprojectcenter.org"><img src="vpc25logo.png"></a>'+
							'</div>';
						$scope.compiled = $compile(htmlContent)($scope);
						this._content = $scope.compiled[0];
						return this._content;
					};
					return info;
				}
				
				$scope.showAbout = function (){
					$('#aboutPanel').show();
				}
				$scope.hideAbout = function (){
					$('#aboutPanel').hide();
				}
				
				var range = 100;
				$scope.recentMaintenance = {};
				function updateMarkers(){
					if($scope.timeIndex && $scope.maintenanceData && $scope.segmentPolygons){
						for(var segmentId in $scope.segmentPolygons){
							var segmentPolygon = $scope.segmentPolygons[segmentId];
							var data = $scope.maintenanceData[segmentId];
							var timeIndex = $scope.timeIndex*1;//make sure to convert from string
							if(segmentPolygon && data && data.first!==undefined && data.first<timeIndex+range/2){
								var nearTime = false;
								for(var i in data.all){
									var jobData = data.all[i];
									var index = jobData.timeIndex;
									if(index<timeIndex+range/2){
										if(!$scope.recentMaintenance[segmentId] || index>$scope.recentMaintenance[segmentId].timeIndex)
											$scope.recentMaintenance[segmentId] = jobData;
									}
									if(index>timeIndex-range/2 && index<timeIndex+range/2){
										nearTime = true;
										break;
									}
								}
								if(nearTime){
									segmentPolygon.setStyle({fillColor: 'yellow', color: 'yellow', fillOpacity: 1.0, weight: 2});
								}
								else{
									segmentPolygon.setStyle({fillColor: '#00ff00', color: '#00ff00', fillOpacity: 0.5, weight: 2});
								}
							}
							else{
								$scope.recentMaintenance[segmentId] = null;
								segmentPolygon.setStyle({fillColor: '#ff0000', fillOpacity: 0.8, weight: 0});
							}
						}
					}
				}
				$scope.$watch('timeIndex', updateMarkers);
				$scope.$watchCollection('segmentData', updateMarkers);
				$scope.$watchCollection('segmentPolygons', updateMarkers);
				
				
				function updateTime(){
					if($scope.timeIndex && $scope.firstDate){
						var sec = $scope.firstDate*1+$scope.timeIndex*86400*1000;
						var d = new Date(sec);
						$scope.dateString = d.getFullYear()+"-"+(d.getMonth()+1)+"-"+d.getDate();
					}
				}
				$scope.$watch('timeIndex', updateTime);
				$scope.$watch('firstDate', updateTime);
				
				
				$( document ).ready(function() {
					createJobInfoBox().addTo(map);
					createTimeSelectorBox().addTo(map);
					createBrandBox().addTo(map);
					$('#aboutPanel').hide();
					
				
					$('#spinner').spin('large', '#fff');
					
					$q.all(
						{
							segments: $http.get('segments.geojson')
								.then(function(result) {
									if(result.status == 200){
										var segmentLayer = L.geoJson(result.data, {
											style: {
												fillOpacity: 0, weight: 0, color:'#000000'
											}
										});
										return segmentLayer;
									}
								}),
							maintenanceData: $http.get('maintenance.json')
								.then(function(result) {
									if(result.status == 200){
										var parts = result.data.firstDate.split('-');
										$scope.firstDate = new Date(parts[0], parts[1]-1, parts[2]).getTime();
										$scope.numDates = result.data.numDates;
										console.log(result.data.segments);
										return $scope.maintenanceData = result.data.segments;
									}
								})
						}
					).then(function(layers){
						$scope.segmentPolygons = {};
						for(var layerId in layers.segments._layers){
							var layer = layers.segments._layers[layerId];
							var segmentId = layer.feature.properties.Codice;
							$scope.segmentPolygons[segmentId] = layer;
						}
						
						layers.segments.on('mouseover', function(e){$scope.$apply(function(){
							$scope.hoverSegment = e.layer.feature.properties.Codice;
						});});
						layers.segments.on('mouseout', function(e){$scope.$apply(function(){
							if($scope.hoverSegment == e.layer.feature.properties.Codice)
								$scope.hoverSegment = null;
						});});
						layers.segments.addTo(map);
						$('#loadingPanel').hide();
						$('#spinner').spin(false);
					});

				});
			}]);
		</script>
	</head>
	<body ng-controller="MapCtrl">
		<div style="position:absolute;width:100%;height:100%;">
			<div id="map-canvas" style="width:100%;height:100%;"></div>
		</div>
		
		<div style="position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:2000;background-color:rgba(0,0,0,0.5);" id="loadingPanel">
			<div style="margin-left:auto;margin-right:auto;text-align:center;margin-top:50px;" id="loadingText"><h3 style="color:white;">Loading...</h3></div>
			<div style="position:absolute;left:50%;top:50%;" id="spinner"></div>
		</div>
		
		<div ng-click="hideAbout()" style="position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:2000;background-color:rgba(0,0,0,0.5);" id="aboutPanel">
			<div class="info" style="position: absolute;top: 50%;left: 50%;margin-top: -250px;margin-left: -250px;height: 500px;width:500px;overflow:auto;padding:5px" id="about">
				<h4>Canal Maintenance Timeline</h4>
				This timeline contains information collected by the Venice Project Center on canals maintenance.<br>
				The canal maintenance information was provided by <a href="http://www.insula.it/" target="_blank">INSULA</a><br>
				To use drag the slider on the bottom right to change the displayed time. The map will update with segments being dredged at that time in yellow and canals that have had past maintenance in green. Segments in red have not had recorded maintenance before the selected time<br>
				The timeline was developed by the <a href="http://sites.google.com/site/ve13can/" target="_blank">Venice Project Center 2013 Canals Team</a>
				<img style="position:absolute;bottom:5px;left:5px;" src="wpi_logo.png">
			</div>
		</div>
	</body>
</html>